body {
	margin: 0;
}

h1.title {
	font-family: monospace;

	font-size: 48px;

	margin: 0 auto;
	text-align: center;

	padding-top: 10px;
	padding-bottom: 10px;
}

p.description {
	font-family: monospace;
	font-size: 16px;

	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

h2.configuration-title {
	text-align: center;
	font-family: monospace;

	font-size: 32px;

	margin: 0;
}

label {
	font-family: monospace;
	font-size: x-large;
}

div.logs-container {
	display: flex;
}

p.logs {
	font-family: monospace;

	margin: 20px auto;
	text-align: left;

	font-size: 25px;

	margin-bottom: 70px;
}

div.button-container {
	text-align: center;
	width: 100%;
	height: 70px;

	margin-bottom: 0;
}

div.settings-container {
	display: grid;

	justify-content: center;

	margin-top: 10px;
	margin-bottom: 10px;
}

input {
	border-radius: 0;
	border-width: 1px;
}

input#delay, input#length, input#copies, input#characters {
	margin-left: 5px;
}

button.go-button, button.clear-button {
	display: inline-block;

	border-radius: 0;
	border-width: 1px;

	width: 140px;
	height: 70px;

	font-size: 30px;

	transition-duration: 0.15s;
}

button.go-button:active, button.clear-button:active {
	margin-top: 2.5px;

	width: 130px;
	height: 65px;
}

div.footer {
	position: fixed;

	bottom: 0;

	width: 100%;

	padding-top: 10px;
	padding-bottom: 10px;
}

p.footer-text {
	font-size: x-large;

	margin-bottom: 0;
	margin-top: 0;

	font-family: monospace;
	margin-left: 2.5%
}

a.license {
	color: purple;
}

img.source {
	vertical-align: middle;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: rgb(25, 25, 25);
	}

	div.title-container {
		background-color: rgb(35, 35, 35);
	}

	h2.configuration-title {
		color: white;
	}

	p, h1, label {
		color: white;
	}

	input {
		border-color: black;
		background-color: rgb(35, 35, 35);
		color: white;
	}

	button.go-button, button.clear-button {
		background-color: white;
	}

	button.go-button:hover, button.clear-button:hover {
		color: white;
		background-color: black;
	}

	a.author {
		color: white;
	}

	img.source {
		color: white;
	}

	div.footer {
		background-color: rgb(35, 35, 35);
	}
}

@media (prefers-color-scheme: light) {
	body {
		background-color: rgb(225, 225, 225);
	}

	div.title-container {
		background-color: rgb(215, 215, 215);
	}

	h2.configuration-title {
		color: black;
	}

	p, h1, label {
		color: black;
	}

	input {
		border-color: white;
		background-color: rgb(215, 215, 215);
		color: black;
	}

	button.go-button, button.clear-button {
		background-color: white;
	}

	button.go-button:hover, button.clear-button:hover {
		color: white;
		background-color: black;
	}

	a.author {
		color: black;
	}

	img.source {
		color: black;
	}

	div.footer {
		background-color: rgb(215, 215, 215);
	}
}
